# =============================
# PYTHON & ENVIRONMENTS
# =============================
venv/
env/
*/site-packages/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# DATA (YOU DON’T WANT IN GIT)
# =============================
data/
*.csv
*.txt

# =============================
# NOTEBOOK CHECKPOINTS
# =============================
.ipynb_checkpoints/

# =============================
# OS FILES
# =============================
.DS_Store
Thumbs.db

# =============================
# VS CODE
# =============================
.vscode/
*.code-workspace

# =============================
# LOGS & TEMP
# =============================
*.log
*.tmp
*.bak
